#mainsection {
    background-color: black;
    background-image: url("/pic/mt3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 15px;
    font-size: 1.3em;
    text-align: center;


}

#mainsection:after {
    content:"";
    display: table;
    clear: both;

}

#namelabel {
    float:left;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    width: 350px;
    text-align: center;
    font-size: 30pt;
}

#menubar {
    float:right;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    font-family: sans-serif;
}

#menubar:after{
    content:"";
    display: table;
    clear: both;
}

#mainMsg {
    text-align:center;
    font-size: 5em;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 150px;
    font-family: sans-serif;
}
.menuitem {
    float:left;
    margin-left: 3px;
    border-color: transparent;
    border-width: 1px;
    border-style: solid;
    padding: 5px;
}

.containerxx:after, .containerxxx:before{
    content:"";
    display: table;
    clear: both;
}

.section1 {
    margin: 0 auto;
    max-width: 800px;
    text-align: center;
    font-size: 15pt;
    margin-bottom: 20px;
}

.title {
    font-size: 1.5em;
    font-family: sans-serif;
    font-weight: bold;
    margin: 0 auto;
    max-width: 800px;
    text-align: center;
    margin-top:25px;
    margin-bottom:20px;
}

.grey {
    background-color: #CFD8DE;
}



#footer {
    color:#ADB2AE;
    background-color: #303431;
}

#innerfooter {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}
#elements6 {
  margin-top:0px;
  width: 90px;
  height: 15px;

}
.mybox {
  width: 13px;
  height: 13px;
  border-radius: 2px;
  margin: 1px;
  background-color: red;
  float: left;

  margin-bottom: auto;
}

.bg-primary {
    background-color: rgba(0,0,0,0.9)!important;
}
.container-fluid {
  padding: 0px;
}
.overflow {
  position:absolute;
  top:9px;
  right:84px;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-top: 0;
  color:#ccc;
  max-width:90%;
}

@media (min-width:768px){
  .overflow {
    position:absolute;
    top:16px;
    right:160px;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-top: 0;
    color:#ccc;
    max-width:90%;
  }
}
