#mainsection {
    background-color: black;
    background-image: url("/pic/mt3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;

}

#mainsection:after {
    content:"";
    display: table;
    clear: both;

}

#namelabel {
    float:left;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    width: 350px;
    text-align: center;
    font-size: 30pt;
}

#menubar {
    float:right;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    font-family: sans-serif;
}

#menubar:after{
    content:"";
    display: table;
    clear: both;
}

#mainMsg {
    text-align:center;
    font-size: 25pt;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 150px;
    font-family: sans-serif;
}
.menuitem {
    float:left;
    margin-left: 3px;
    border-color: transparent;
    border-width: 1px;
    border-style: solid;
    padding: 5px;
}

.container:after, .container:before{
    content:"";
    display: table;
    clear: both;
}

.section1 {
    margin: 0 auto;
    max-width: 800px;
    text-align: center;
    font-size: 15pt;
    margin-bottom: 20px;
}

.title {
    font-size: 25pt;
    font-family: sans-serif;
    margin: 0 auto;
    max-width: 800px;
    text-align: center;
    margin-top:25px;
    margin-bottom:20px;
}

.grey {
    background-color: #CFD8DE;
}
body {
    margin:0 auto;
}

#footer {
    color:#ADB2AE;
    background-color: #303431;
}

#innerfooter {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.mybox {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  margin: 5px;
  background-color: red;
  float: left;
}
